[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.31"
schedule = "~=1.2"
aiohttp = "~=3.8"
beautifulsoup4 = "~=4.12"
lxml = "~=4.9"
aiosqlite = "~=0.19"

[dev-packages]
black = "~=23.7"
flake8 = "~=6.1"
isort = "~=5.12"
pre-commit = "*"
pympler = "~=1.0"
mypy = "~=1.5"

[requires]
python_version = "3.11"
